<%- include('../partials/h-edit.ejs') %>
<div class="scroll" style="width: 100%; height: 600px; overflow-y: scroll; scrollbar-arrow-color:blue; scrollbar-face-color: #e7e7e7; scrollbar-3dlight-color: #a0a0a0; scrollbar-darkshadow-color:#888888">    
<div class="container">
    <br>
    <div class="card w-100" >
      <div class="card-body">

        <form action="/admin" method="POST" enctype="multipart/form-data">
          <div class="mb-3">
            <label class="form-label">Song</label>
            <input type="text" class="form-control" name="music[song]" placeholder="Song">
          </div>
          <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" name="music[name]" placeholder="Name">
          </div>
          <div class="mb-3">
            <label class="form-label">Image</label>
            <input type="file" class="form-control" name="image" accept="image/*">
          </div>
          <div class="mb-3">
            <label class="form-label">Lysics</label>
          <textarea class="form-control" rows="10"  name="music[lysics]" ></textarea><br>
          </div>
          <button type="submit" class="btn btn-success">Submit</button>&nbsp;&nbsp;
          <a href="/admin">Go Back</a>
        </form>

      </div>
    </div>
  </div>
  </div>
  <br>


<%- include('../partials/footer.ejs') %>