<%- include('../partials/h-artist.ejs') %>

<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Add Music</h1>
        <p>
          <a href="/admin/addmusic" class="btn btn-primary my-2">AddMusic</a>

        </p>
      </div>
    </div>
  </section>
  


<%- include('../partials/footer.ejs') %>