<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTER</title>
    <link href='https://fonts.googleapis.com/css?family=Hammersmith One' rel='stylesheet'>
    <link rel='stylesheet' media="screen" href='/stylesheets/signup.css' >
    <link rel="icon" type="image/jpg" href="/images/MIA.jpg" />
</head>
<body>
