<%- include('../partials/h-payment.ejs') %>

<br><br>
<div class="container">

    <div class="card w-75">
        <div class="card-body">
          <h1 class="card-title">Payment</h1>
          <hr class="my-4">
            <div class="my-3">
                <div class="form-check">
                  <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked required>
                  <label class="form-check-label" for="credit">&nbsp;&nbsp; Credit card</label>
                </div>
                <div class="form-check">
                  <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required>
                  <label class="form-check-label" for="debit">&nbsp;&nbsp; Debit card</label>
                </div>
                <div class="form-check">
                  <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required>
                  <label class="form-check-label" for="paypal">&nbsp;&nbsp; PayPal</label>
                </div>
            </div>
    
            <div class="row gy-3">
                <div class="col-md-6">
                 
                  <input type="text" class="form-control" id="cc-name" placeholder="Card Name (Require)" required>
                  
                </div>
    
                <div class="col-md-6">
                 
                  <input type="text" class="form-control" id="cc-number" placeholder="Card Number (Require)" required>
                  
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" id="cc-expiration" placeholder="XX/XX" required>
                    
                </div>
                <div class="col-md-3">
                  <input type="text" class="form-control" id="cc-cvv" placeholder="CVV/CVV2" required>
                  
                </div>
            </div>
    
          <br><br>
          
              <button class="btn1" type="submit">Payment</button>
              <a href='/package'><button class="btn2" type="submit">Cancel</button></a>
           
        </div>
    </div>
      

   
          





</div>




<%- include('../partials/footer.ejs') %>
