*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #3E1212;
    font-family: 'Hammersmith One';
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}
section .img{
    position: relative;
    width: 50%;
    height: 100%;
}
section .img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section .content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
section .content .form{
    width: 50%;
}
section .content .form h2{
    color:whitesmoke;
    font-weight: 600;
    font-size: 2.5em;
    font-family: 'Hammersmith One';
    text-transform: uppercase;
    margin-bottom: 40px;
    border-bottom: 4px solid rgb(184, 51, 106);
    display: inline-block;
    letter-spacing: 1px;
}
section .content .form .input{
    margin-bottom: 20px;
}
section .content .form .input span{
    font-size: 18px;
    margin-bottom: 5px;
    display: inline-block;
    color: blanchedalmond;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 1px;

}
section .content .form .input input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    border: 1px solid whitesmoke;
    font-size: 16px;
    margin-bottom: 5px;
    color: #3E1212;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;
    background: whitesmoke;
    border-radius: 30px;
}
section .content .form .input input[type="submit"]{
    background: rgb(184, 51, 106);
    color: whitesmoke;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}
section .content .form .input input[type="submit"]:hover{
    background: rgb(172, 93, 126);
}
section .content .form .remember{
    margin-bottom: 10px;
    color: whitesmoke;
    font-weight: 400;
    font-size: 16px;
}
section .content .form .input p{
    color: whitesmoke;
    text-decoration: none;
    
}
section .content .form .input p a{
    color:whitesmoke;
    
}
.icon{
    text-align: center;
}
.icon a:link{
    COLOR: #0000FF; 
    TEXT-DECORATION: none;
}
.icon a:visited{
    COLOR: whitesmoke; 
    TEXT-DECORATION: none;
}
.icon a:hover{
    COLOR: rgb(121, 9, 9); 
    TEXT-DECORATION: none;
}
