body {
  background-color: #3E1212;
  overflow: hidden;

}

  ::-webkit-scrollbar {
    width: 5px;
  }
  
  
  ::-webkit-scrollbar-track {
    background: whitesmoke; 
  }
   
  
  ::-webkit-scrollbar-thumb {
    background: #3E1212; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #3E1212; 
  }



  .navbar {
    background: whitesmoke;
}
.navbar a{
    background: transparent;
   
}
.navbar a:hover{

    color: rgb(151, 117, 117);
}

.nav-item a{
    color: #3E1212;
    text-decoration: none;
    background-color: transparent;
    font-weight: 1000;
  }

  .nav-item a:hover{
    color: rgb(182, 107, 107);
    
  }
  .navbar-brand {
    color: #3E1212;
    font-family: 'Berkshire Swash';
    background-color: whitesmoke;
    font-size: 26px;
  }



  .nav-link {
    color: #3E1212;
    text-decoration: none;
    background-color: transparent;
    border-radius: 20px;

  }

  .nav-link:hover {
    color: rgb(182, 107, 107);
    text-decoration: none;
    background-color: transparent;

  }

  .btn{
    border-radius: 50px;
    border: 20;
    color: #3E1212;
  }

  .btn:hover{
    color: rgb(182, 107, 107);

  }
  .row {
    background-color: whitesmoke;
    border-radius: 50px;
  }
  .fw {
    font-size: 50px;
    font-weight: 1000;
    color: #3E1212;
  }
.rounded-circle{
  border: 3px solid #3E1212;
}
h1 {
  color: #3E1212;
  font-size: 35px;
}
a {
  color: #3E1212;
}
a:hover{
  color: #3e121269;
}