
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  
  ::-webkit-scrollbar-track {
    background: #3E1212; 
  }
   
  
  ::-webkit-scrollbar-thumb {
    background: whitesmoke; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: whitesmoke; 
  }


  .navbar {
	background: whitesmoke;
}
.navbar a{
	background: transparent;
  font-weight: 1000;
   
}
.navbar a:hover{

    color: rgb(151, 117, 117);
}

.nav-item a{
    color: #3E1212;
    text-decoration: none;
    background-color: transparent;
  }

  .nav-item a:hover{
    color: rgb(182, 107, 107);
    
  }
  .navbar-brand {
    color: #3E1212;
    font-family: 'Berkshire Swash';
    background-color: whitesmoke;
    font-size: 26px;
  }



  .nav-link {
    color: #3E1212;
    text-decoration: none;
    background-color: transparent;
    border-radius: 20px;

  }

  .nav-link:hover {
    color: rgb(182, 107, 107);
    text-decoration: none;
    background-color: transparent;

  }

  .btn{
    /* border-color: #A09694 ; */
    /* background: #3E1212; */
    border-radius: 50px;
    border: 20;
    color: #3E1212;
  }

  .btn:hover{
    color: rgb(182, 107, 107);

  }
body {
    background-color: #3E1212 ;
    overflow: hidden;
}
.card-text {
    text-align: left;
}
.card-title {
    margin-top: 30px;
    text-align: center;
}
.container{
    text-align: center;
}
.card:hover{
    background-color: #3E1212;
    color: whitesmoke;
}
.card:hover svg{
    background-color: #3E1212;
    color: whitesmoke;
}

.card-text{
    font-size: 16px;
    font-weight: 600;
}
.card{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#favorite{
    width: 10px;
    background-color: transparent;
    border: none;
}
#favadd {
    width: 20px;
    background-color: transparent;
    border: none;
}
/*button svg{
    color: whitesmoke;
}
button svg:hover{
    color: rgb(219, 70, 70);
}

