body {
    background-color: #3E1212 ;
    overflow: hidden;
}
.card-text {
    text-align: left;
}
.card-title {
    margin-top: 30px;
    text-align: center;
}
.container{
    text-align: center;
}
.card:hover{
    background-color: #3E1212;
    color: whitesmoke;
}
.card:hover svg{
    background-color: #3E1212;
    color: whitesmoke;
}

.card-text{
    font-size: 16px;
    font-weight: 600;
}
.card{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#favorite{
    width: 10px;
    background-color: transparent;
    border: none;
}
#favadd {
    width: 20px;
    background-color: transparent;
    border: none;
}
button svg{
    color: whitesmoke;
}
button svg:hover{
    color: rgb(219, 70, 70);
}


