body {
    background-color: #3E1212 ;
    overflow: hidden;
}
.card-text {
    text-align: left;
}
.card-title {
    margin-top: 30px;
    text-align: center;
}
.container{
    text-align: center;
}
.card:hover{
    background-color: #3E1212;
    color: whitesmoke;
}
.card:hover svg{
    background-color: #3E1212;
    color: whitesmoke;
}
.card-text{
    font-size: 16px;
    font-weight: 600;
}
