<%- include('../partials/h-edit.ejs') %>

<div class="container">
<br><br>
  <div class="card w-100">
    <div class="card-body">
      <form action="/artist" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
          <label class="form-label">Name Album</label>
          <input type="text" class="form-control" name="artist[name]" placeholder="Name">
        </div>
        <div class="mb-3">
          <label class="form-label">Image</label>
          <input type="file" class="form-control" name="image" accept="image/*">
        </div>
        <button type="submit" class="btn btn-success">Submit</button>&nbsp;&nbsp;
        <a href="/artist">Go Back</a>
      </form>
    </div>
  </div>
</div>


<%- include('../partials/footer.ejs') %>